*{
    margin: 0px;
    padding: 0px;
    font-family: "Lato", sans-serif;
}
#container{
    width: 100%;
    height: 100vh;
    position: relative;  /*placed in its normal position */
}
#navbar{
    display: flex; /* to make child element into inline */
    width: 85%;
    margin-left: 100px;
    justify-content: space-between; /* horizontally - child */
    align-items: center; /* to place the child content verctically center */
}
#logo{
    width: 130px;
}
.listitem{
    list-style: none; /* remove the styling of list items */
    display: inline;  /* to align all items in a line */
    margin: 10px 20px;
    font-weight: 700; /* to increase blodness */
}
li a:hover{
    color: brown;
    font-size: 20px;
}
li a{
    text-decoration: none; /* remove underlines */
    color: black;
}
#title{
    margin-top: 20%;
    margin-left: 8%;
}
#title h1{
    font-size: 50px;
    margin-top: 30px;
}
#lastname{
    color: brown;
}
#title a{
    background-color: black;
    color: white;
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
}
#images{
    width: 45%;
    height: 80%;
    position: absolute;
    bottom: 0px;
    right: 30px;
}
.imagegroup{
    position: absolute;
    height: 100%;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
    transition: bottom 1s, left 2s;
}
#images:hover #shape{
    bottom: 70px;
}
#images:hover #girl{
    left: 40%;
}
#about{
    margin-top: 20%;
    margin-left: 8%;
}
.heading{
    text-align: center;
}
#heading h2{
    font-size: 30px;
}
.heading h4{
    font-size: 20px;
    color: green;
}
#content{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 2rem; /* related to html element font size - default value - 60px */
    margin-top: 2rem;
}
#content_image img{
    width: 500px;
}
#content_details{
    text-align: justify;
    font-size: 20px;
    font-weight: 500;
}
#information{
    margin-top: 2rem;
}
.info{
    margin-top: 1rem;
}
.info span{
    margin-left: 1rem;
}
#skill{
    margin: 8% 8% 0 8%;
}
#skill p{
    color: green;
}
#skill_container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 2rem;
}
#skill_img img{
    width: 100%;
}
.bar-container{
    display: flex;
    justify-content: space-between;
    padding: 2rem;
    align-items: center;
    position: relative;
}
.bar-container span{
    font-weight: 800;
    font-size: 16px;
}
.bar{
    width: 100%;
    height: 0.5rem;
    background-color: black;
    border-radius: 10px;
    position: absolute;
    bottom: 0px;
}
#html_bar{
    width: 95%;
    background-color:orange;
}
#css_bar{
    width: 88%;
    background-color:orange;
}
#js_bar{
    width: 89%;
    background-color:orange;
}
#react_bar{
    width: 85%;
    background-color:orange;
}
#contact{
    margin-top: 5px;
}
#contact p{
    color: green;
}
.icon-set{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3%;
}
.icon, .up-arrow{
    width: 50px;
    height: 50px;
    margin: 0px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid red ; */
    border-radius: 50%;
}
.icon i{
    color: black;
}
.icon:hover{
    background-image: linear-gradient(to bottom right,yellow,orange);
    animation: shake 0.75s;
}
.icon:hover i{
    color: white;
}
@keyframes shake{
    10%{
        transform: rotate(15deg);
    }
    20%{
        transform: rotate(-15deg);
    }
    30%{
        transform: rotate(15deg);
    }
    40%{
        transform: rotate(-15deg);
    }
}
footer{
    padding: 3rem 0px;
}
footer p{
    font-size: 17px;
    font-weight: 700px;
    text-align: center;
}
.up-arrow{
    background-image: linear-gradient(to bottom right,yellow,orange);
    float: right;
    margin: 13px 50px 50px 0px;
}
html{
    scroll-behavior: smooth;
}